<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are the Kegs we offer </h2>

<app-keg-list [childKegList]="kegs" (clickSender)="editKeg($event)"></app-keg-list>

<app-edit-keg [childSelectedKeg]="selectedKeg" (clickedDone)="finishedEdit()"></app-edit-keg>

<app-new-task (sendKeg)="addKeg($event)"></app-new-task>

<app-keg-patron [childKegList]="kegs" (clickedBuy)="buyPint($event)"></app-keg-patron>
</div>
