


<div class="james">

<h3>Add a New Keg</h3>
<div>
  <label>New Keg Name:</label>
  <input #newName>
</div>
<div>
  <label>Brewery:</label>
  <input #newBrewery>
</div>
<div>
  <label>Price:</label>
  <input #newPrice>
</div>
<div>
  <label>Alcohol Content:</label>
  <input #newAC>
</div>
<div>
  <label>Keg Level:</label>
  <select #newLevel>
    <option value="1">Full Keg</option>
  </select>
  <button (click)="submitForm(newName.value, newBrewery.value, newPrice.value, newAC.value, newLevel.value, 124); newName.value=''; newBrewery.value=''; newPrice.value=''; newAC.value='';">Add</button>
</div>




</div>
